## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [20]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("resources/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Grand-Santi,GF,4.2500,-54.3833,85.46,61,100,3.09,overcast clouds
1,1,Teguise,ES,29.0605,-13.5640,75.20,53,20,11.50,few clouds
2,2,Ushuaia,AR,-54.8000,-68.3000,48.20,46,0,5.75,clear sky
3,3,Estevan,CA,49.1334,-102.9842,35.60,93,90,18.41,overcast clouds
4,4,Sao Filipe,CV,14.8961,-24.4956,77.52,60,1,6.87,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Grand-Santi,GF,4.2500,-54.3833,85.46,61,100,3.09,overcast clouds
1,1,Teguise,ES,29.0605,-13.5640,75.20,53,20,11.50,few clouds
4,4,Sao Filipe,CV,14.8961,-24.4956,77.52,60,1,6.87,clear sky
5,5,Mahebourg,MU,-20.4081,57.7000,80.60,78,40,6.91,light rain
6,6,Butaritari,KI,3.0707,172.7902,81.00,77,57,9.19,light rain
11,11,Banyuwangi,ID,-8.2325,114.3576,76.15,92,13,2.26,few clouds
23,23,Labrea,BR,-7.2586,-64.7981,86.05,68,89,2.73,overcast clouds
26,26,Port Elizabeth,ZA,-33.9180,25.5701,71.60,73,0,8.05,clear sky
27,27,Atuona,PF,-9.8000,-139.0333,79.81,79,43,17.34,light rain
28,28,Rikitea,PF,-23.1203,-134.9692,78.10,75,9,10.31,clear sky

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                223
City                   223
Country                222
Lat                    223
Lng                    223
Max Temp               223
Humidity               223
Cloudiness             223
Wind Speed             223
Current Description    223
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Grand-Santi,GF,4.2500,-54.3833,85.46,61,100,3.09,overcast clouds
1,1,Teguise,ES,29.0605,-13.5640,75.20,53,20,11.50,few clouds
4,4,Sao Filipe,CV,14.8961,-24.4956,77.52,60,1,6.87,clear sky
5,5,Mahebourg,MU,-20.4081,57.7000,80.60,78,40,6.91,light rain
6,6,Butaritari,KI,3.0707,172.7902,81.00,77,57,9.19,light rain
...,...,...,...,...,...,...,...,...,...,...
550,550,Touros,BR,-5.1989,-35.4608,87.80,66,75,12.66,broken clouds
551,551,Nizwa,OM,22.9333,57.5333,85.03,30,79,5.21,broken clouds
553,553,Mwandiga,TZ,-4.8300,29.6581,76.15,75,92,0.51,light rain
557,557,Asyut,EG,27.1810,31.1837,71.60,37,0,18.41,clear sky
559,559,Saint-Joseph,RE,-21.3667,55.6167,78.80,78,90,4.61,light rain

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Grand-Santi,GF,85.46,overcast clouds,4.2500,-54.3833,
1,Teguise,ES,75.20,few clouds,29.0605,-13.5640,
4,Sao Filipe,CV,77.52,clear sky,14.8961,-24.4956,
5,Mahebourg,MU,80.60,light rain,-20.4081,57.7000,
6,Butaritari,KI,81.00,light rain,3.0707,172.7902,
11,Banyuwangi,ID,76.15,few clouds,-8.2325,114.3576,
23,Labrea,BR,86.05,overcast clouds,-7.2586,-64.7981,
26,Port Elizabeth,ZA,71.60,clear sky,-33.9180,25.5701,
27,Atuona,PF,79.81,light rain,-9.8000,-139.0333,
28,Rikitea,PF,78.10,clear sky,-23.1203,-134.9692,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Grand-Santi,GF,85.46,overcast clouds,4.2500,-54.3833,Hotel La Villa Couacou
1,Teguise,ES,75.20,few clouds,29.0605,-13.5640,B&B La Casona de Nazaret
4,Sao Filipe,CV,77.52,clear sky,14.8961,-24.4956,Tortuga B&B
5,Mahebourg,MU,80.60,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Butaritari,KI,81.00,light rain,3.0707,172.7902,Isles Sunset Lodge

In [17]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Grand-Santi,GF,85.46,overcast clouds,4.2500,-54.3833,Hotel La Villa Couacou
1,Teguise,ES,75.20,few clouds,29.0605,-13.5640,B&B La Casona de Nazaret
4,Sao Filipe,CV,77.52,clear sky,14.8961,-24.4956,Tortuga B&B
5,Mahebourg,MU,80.60,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Butaritari,KI,81.00,light rain,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
550,Touros,BR,87.80,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
551,Nizwa,OM,85.03,broken clouds,22.9333,57.5333,Orient Apartments
553,Mwandiga,TZ,76.15,light rain,-4.8300,29.6581,One Point
557,Asyut,EG,71.60,clear sky,27.1810,31.1837,Florence Hotel Assiut
559,Saint-Joseph,RE,78.80,light rain,-21.3667,55.6167,"""Plantation Bed and Breakfast"

In [21]:
# 8a. Create the output File (CSV)
output_data_file = "resources/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))